.about {
    background-color: $color-gray-light;
    &__container {
        display: grid;
        grid-template-columns: 1fr 271px;
        @extend %container;
    }
    &__content {
        position: relative;
        p:first-of-type::after {
            position: absolute;
            content: "";
            background-color: rgba(#707070, 0.1);
            width: 2px;
            height: 200px;
        }
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    &__image {
        display: grid;
        align-content: center;
        justify-content: center;
        img {
            max-height: 480px;
            max-width: 267px;
        }
    }
}